<!DOCTYPE html>
<html>
<head>
	<title>Challenge</title>
</head>
<body>
	<fieldset>
		<legend> Multiply </legend>
		<form action="/multiply" method="post">
			<label for="int1">First Number:</label>
			<input type="number" name="int1" id="int1" />
			<label for="int2">Second Number:</label>
			<input type="number" name="int2" id="int2" />
			<input type="submit" value="Multiply" />
		</form>
	</fieldset>
	<h2>Result = </h2>
</body>
</html>